*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer, article, aside, nav, section {
    display: block;
}

html {
    width: 100%;
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    line-height: 1.7;
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    color: #000;
    background: #fff;
    font-weight: 400;
    width: 100%;
}
.b-overflow
{
    overflow: hidden;
    height: 100%;
}
.b-load
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: #68CF4E;
}
.b-load div
{
    display: none;
}

.clearfix {
    clear: both;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0 0 25px;
}

.img-responsive {
    max-width: 100%;
}

.d-center {
    display: block;
    margin: 0 auto 15px;
}

.wrapper {
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
    -moz-text-align-last: right !important;
    text-align-last: right !important;
}

.text-uppercase {
    text-transform: uppercase;
}
.m-white
{
    color: #fff;
}
.m-green
{
    color: #68CF4E;
}
.m-font
{
    font-family: 'a_futuraround';
}
.parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.parallax .parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
}
.parallax .parallax-layer img {
    position: absolute;
    max-width: 100%;
}
section
{
    position: relative;
}
.s-top
{
    background: url("../img/body_m.png") no-repeat center top/auto 100%, url("../img/top_bg_m.jpg") no-repeat center/cover;
    padding: 95px 0 90px;
}
.product-title
{
    font-family: "a_futuraround";
    font-weight: 700;
    line-height: 1;
    font-size: 70px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-shadow: -2px 2px 2px rgb(112 239 80 / 90%), -2px 2px 2px rgb(112 239 80 / 80%), -2px 2px 4px rgb(112 239 80 / 70%), 2px 4px 30px rgb(5 125 2 / 40%);
    margin-bottom: 15px;
    position: relative;
    background: -webkit-gradient(linear, left top, left bottom, from(#70EF50), to(#41B424));
    background: -o-linear-gradient(top, #70EF50 0%, #41B424 100%);
    background: linear-gradient(180deg, #70EF50 0%, #41B424 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.b-slogan
{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 50px;
}
.b-slogan span
{
    font-weight: 800;
}
.product-container
{
    position: relative;
    display: block;
    margin-bottom: 50px;
}
.product-container img
{
    position: relative;
    z-index: 5;
    -webkit-filter: drop-shadow(-25px 15px 20px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(-25px 15px 20px rgba(0, 0, 0, 0.1));
    -webkit-transform: rotate(14.01deg);
    -ms-transform: rotate(14.01deg);
    transform: rotate(14.01deg);
    margin-left: 50px;
}
.b-sale
{
    position: absolute;
    border-radius: 50%;
    width: 116px;
    height: 116px;
    left: 0;
    top: 13px;
    background: rgba(255, 255, 255, 0.26);
    -webkit-transform: rotate(5.89deg);
    -ms-transform: rotate(5.89deg);
    transform: rotate(5.89deg);
    padding: 12px;
    text-align: center;
    color: #D4FFC9;
    z-index: 10;
}
.sale-inner
{
    background: #68CF4E;
    -webkit-box-shadow: 0px 10px 20px 5px rgba(171, 93, 150, 0.3);
    box-shadow: 0px 10px 20px 5px rgba(171, 93, 150, 0.3);
    border-radius: 50%;
    height: 100%;
}

.sale-inner>div:first-child
{
    font-family: "Caveat";
    font-weight: bold;
    font-size: 40px;
    line-height: 1;
}
.sale-inner>div:last-child
{
    font-weight: 800;
    font-size: 30px;
    line-height: 1;
    position: relative;
    display: inline-block;
}
.sale-sum
{
    display: inline-block;
    vertical-align: top;
    margin-right: -5px;
}
.sale-off
{
    font-size: 9px;
    line-height: 1;
    display: inline-block;
    vertical-align: top;
    margin: 5px 0 0;
    text-transform: uppercase;
}
.sale-percent
{
    font-size: 18px;
    line-height: 1;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
}
.b-prices
{
    background: #34AFF4;
    -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    text-transform: uppercase;
    position: absolute;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    padding: 8px 35px 6px 55px;
    line-height: 1.2;
    z-index: 0;
    right: 0;
    top: 145px
}
.old-price
{

    font-size: 16px;
    text-decoration: line-through;
}
.new-price
{
    font-weight: 700;
    font-size: 22px;
}
.btn
{
    display: inline-block;
    background: -webkit-gradient(linear, left top, left bottom, from(#70EF50), to(#41B424));
    background: -o-linear-gradient(top, #70EF50 0%, #41B424 100%);
    background: linear-gradient(180deg, #70EF50 0%, #41B424 100%);
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 13px 55px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "a_futuraround";
    font-weight: 700;
    border: none;
    color: #fff;
}
.btn:hover
{
    background: -webkit-gradient(linear, left top, left bottom, from(#41B424), to(#70EF50));
    background: -o-linear-gradient(top, #41B424 0%, #70EF50 100%);
    background: linear-gradient(180deg, #41B424 0%, #70EF50 100%);
    -webkit-box-shadow: none;
    box-shadow: none;
}
.product-container .btn
{
    position: absolute;
    bottom: -8px;
    left: 50%;
    z-index: 10;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.b-action
{
    margin-bottom: 40px;
    line-height: 1.25;
}

.b-action>div
{
    display: inline-block;
    vertical-align: top;
}
.b-icon
{
    border-radius: 50%;
    background: #34AFF4;
    border: 3px solid rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    margin-right: 15px;
    width: 53px;
    height: 53px;
    text-align: center;
    padding-top: 11px;
}
.b-action>div:last-child
{
    width: calc(100% - 72px);
}
.parallax-layer1 img
{
    right: 50%;
    bottom: 55px;
    margin-right: 140px;
}
.parallax-layer2 img
{
    right: 50%;
    top: 15px;
    margin-right: 280px;
}
.parallax-layer3 img
{
    right: 50%;
    top: 228px;
    margin-right: 125px;
}
.parallax-layer4 img
{
    right: 50%;
    top: 50%;
    margin-right: 255px;
    margin-top: 30px;
}
.parallax-layer5 img
{
    display: none;
}
.parallax-layer6 img
{
    left: 50%;
    margin-left: 294px;
    margin-top: 414px;
}
.s-signs
{
    padding: 80px 0 100px;
    background: url("../img/signs_bg_m.jpg") no-repeat center/cover;
    color: #000;
}
.s-signs .container
{
    z-index: 5;
}
.b-title
{
    font-size: 36px;
    font-family: 'a_futuraround';
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 40px;
}
.slider-signs
{
    margin: 0 -10px;
}
.slider-signs .slick-slide
{
    padding: 10px;
}
.b-sign
{
    background: #fff;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 25px 20px 0;
    position: relative;
}
.b-sign .m-green.m-font
{
    font-size: 28px;
}
.slide-title
{
    font-size: 28px;
    font-family: 'a_futuraround';
    font-weight: 700;
    line-height: 1.14;
    margin-bottom: 10px;
}
.slide-right, .slide-left
{
    margin-bottom: 20px;
}
.slide-img
{
    position: relative;
}
.slide-img img
{
    display: block;
    margin: 0 auto;
}
.block-switches
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.switch
{
    width: 24px;
    background: #68CF4E;
    height: 24px;
    font-size: 16px;
    font-weight: 800;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    color: #fff;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    line-height: 24px;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25), inset 0px 4px 7px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25), inset 0px 4px 7px rgba(0, 0, 0, 0.1);
}
.switch.active
{
    background: #F72929;
}
.switch-1
{
    top: 60px;
    left: 50%;
    margin-left: 20px;
}
.switch-2
{
    top: 175px;
    right: 50%;
    margin-right: 20px;
}
.switch-3
{
    top: 140px;
    left: 50%;
}
.switch-4
{
    top: 250px;
    left: 50%;
    margin-left: 20px;
}
.switch-5
{
    top: 50px;
    left: 50%;
    margin-left: 10px;
}
.switch-6
{
    top: 270px;
    left: 50%;
}
.b-bubble
{
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
    -moz-text-align-last: left;
    text-align-last: left;
}
.b-bubble[data-item="1"]
{
    width: 150px;
    left: 0;
    top: 60px;

}
.b-bubble[data-item="2"]
{
    display: block;
    width: 145px;
    right: 0;
    top: 175px;
}
.b-bubble[data-item="3"]
{
    width: 130px;
    left: 0;
    top: 100px;

}
.b-bubble[data-item="4"]
{
    display: block;
    width: 145px;
    left: 0;
    top: 175px;
}
.b-bubble[data-item="5"]
{
    width: 130px;
    left: 0;
    top: 40px;

}
.b-bubble[data-item="6"]
{
    display: block;
    width: 130px;
    left: 0;
    top: 250px;

}
.m-gray
{
    color: #646464;
}
.sl-count
{
    text-align: center;
    font-weight: 700;
    margin: 30px 0 50px;
    font-size: 18px;
    font-family: 'a_futuraround';
}
.b-question
{
    font-size: 20px;
}
.parallax-layer7 img
{
    max-width: 260px !important;
    right: -70px;
    top: 370px
}
.parallax-layer8 img
{
    max-width: 125px !important;
    right: 50%;
    top: 90px;
    margin-right: 200px;
}
.parallax-layer9 img
{
    left: 50%;
    top: 50%;
    margin-left: 158px;
    -webkit-transform: rotate(-127deg);
    -ms-transform: rotate(-127deg);
    transform: rotate(-127deg);
}
.parallax-layer10 img
{
    right: 50%;
    bottom: 300px;
    margin-right: 150px;
}
.s-compare
{
    padding: 125px 0 80px;
    background: url("../img/compare_bg_m.jpg") no-repeat center/cover;
}
.b-white
{
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 30px 20px 40px;
    position: relative;
    z-index: 15;
    margin-bottom: 30px;
}
.compare-title
{
    font-size: 20px;
    font-weight: 700;
    font-family: 'a_futuraround';
    margin-bottom: 10px;
}
.title-white
{
    font-family: 'a_futuraround';
    font-weight: bold;
    font-size: 70px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow:  2px -2px 5px rgba(0,0,0,0.3), 2px 4px 30px rgba(6, 6, 6, 0.4);
    line-height: 1.25;
}
.man-1
{
    position: relative;
    font-size: 0;
}
.man-1 .title-white
{
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 50%;
    z-index: 7;
}
.man-img
{
    position: relative;
    z-index: 5;
    margin: 0 0 0 -45px;
}
.img-hand
{
    position: absolute;
    left: -28px;
    top: 90px;
    z-index: 10;
}
.product2
{
    position: absolute;
    left: 56px;
    bottom: -55px;
    width: 80px;
    -webkit-filter: drop-shadow(-25px 15px 20px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(-25px 15px 20px rgba(0, 0, 0, 0.1));
    -webkit-transform: rotate(-22.9deg);
    -ms-transform: rotate(-22.9deg);
    transform: rotate(-22.9deg);
    z-index: 12;
}
.product3
{
    position: absolute;
    right: 42px;
    top: 104px;
    -webkit-filter: blur(9px) drop-shadow(-25px 15px 20px rgba(0, 0, 0, 0.1));
    filter: blur(9px) drop-shadow(-25px 15px 20px rgba(0, 0, 0, 0.1));
    -webkit-transform: rotate(21.7deg);
    -ms-transform: rotate(21.7deg);
    transform: rotate(21.7deg);
    width: 77px;
    z-index: 0;
}
.man-2
{
    margin: 63px -92px 0;
    display: block;
}
.parallax-layer11 img
{
    right: -149px;
    bottom: 175px;
}
.parallax-layer12 img
{
    right: 50%;
    top: 39px;
    max-width: 128px !important;
    margin-right: 58px;
}
.parallax-layer13 img
{
    left: 50%;
    top: 136px;
    margin-left: 210px;
}
.parallax-layer14 img
{
    left: 50%;
    top: 28%;
    margin-left: 133px;
}
.parallax-layer15 img
{
    right: 50%;
    top: 45%;
    margin-right: 190px;
}
.parallax-layer16 img
{
    left: 50%;
    top: 60%;
    margin-left: 210px;
}
.s-stages
{
    background: url("../img/body_2_m.png") no-repeat center top/auto 100%, url(../img/stage_bg_m.jpg) no-repeat center/cover;
    padding: 115px 0 45px;
}
.b-subtitle
{
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}
.b-stages
{
    list-style: none;
    counter-reset: list1;
    margin-top: 35px;
}
.b-stages li
{
    position: relative;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 20px rgb(0 0 0 / 10%), -10px 10px 0 0px rgb(255 255 255 / 40%);
    box-shadow: 0px 4px 20px rgb(0 0 0 / 10%), -10px 10px 0 0px rgb(255 255 255 / 40%);
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 80px;
    color: #110E0E;
    margin-left: 30px;
}
.b-stages li>div
{
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'a_futuraround';
    font-weight: 700;
    text-transform: uppercase;
}
.b-stages li:before {
    counter-increment: list1;
    content: "0"counter(list1);
    font-weight: 800;
    font-size: 20px;
    position: absolute;
    left: -35px;
    color: #fff;
    line-height: 2.2;
    top: 1px;
    width: 44px;
    text-align: center;
    border-radius: 50%;
    background: #68CF4E;
}
.s-composition
{
    background: url("../img/compose_bg_m.jpg") no-repeat center/cover;
    padding: 100px 0 40px;
}
.s-composition .container
{
    z-index: 5;
}
.s-composition .b-title
{
    font-size: 40px;
    margin-bottom: 30px;
}
.comp-subtitle
{
    color: #000;
    font-size: 18px;
    margin-bottom: 60px;
}
.prod-shield
{
    position: relative;
    max-width: 470px;
    margin: 0 auto 145px;
}
.prod-box
{
    display: inline-block;
    margin: 0 -20px 0 -72px;;
    -webkit-filter: drop-shadow(-25px 15px 20px rgba(0, 0, 0, 0.1));;
    filter: drop-shadow(-25px 15px 20px rgba(0, 0, 0, 0.1));
    -webkit-transform: rotate(-16.61deg);
    -ms-transform: rotate(-16.61deg);
    transform: rotate(-16.61deg);
    width: 132px;
    position: relative;
    z-index: 1;
}
.product4
{
    display: inline-block;
    margin: 45px -37px 0 40px;
    -webkit-filter: drop-shadow(-25px 15px 20px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(-25px 15px 20px rgba(0, 0, 0, 0.1));
    -webkit-transform: rotate(30.16deg);
    -ms-transform: rotate(30.16deg);
    transform: rotate(30.16deg);
    width: 87px;
    vertical-align: top;
    position: relative;
    z-index: 1;
}
.img-shield
{
    position: absolute;
    top: 80px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 5;
}
.shield-text
{
    position: absolute;
    width: 100%;
    top: 150px;
    line-height: 1;
    z-index: 8;
}
.your-text
{
    font-weight: 700;
    font-family: 'a_futuraround';

}
.shield-title
{
    text-shadow: 2px -4px 0px #2A9E0D;
    font-family: 'a_futuraround';
    font-weight: bold;
    font-size: 60px;
    line-height: 1.1;
}
.shield-text span
{
    font-size: 10px;
    font-weight: 800;

}
.shield-num
{
    font-weight: 800;
    font-size: 25px;
    text-shadow: 4px 3px 0px #45B429;
    -webkit-transform: rotate(-0.22deg);
    -ms-transform: rotate(-0.22deg);
    transform: rotate(-0.22deg);
}
.b-composition
{
    margin-bottom: 20px;
}
.b-composition>div
{
    display: table-cell;
    vertical-align: top;
}
.b-composition img
{
    margin:-75px -35px;;
    position:  relative;
    z-index: 20;
}
.b-composition p
{
    margin-left: 5px;
}
.comp-title
{
    color: #fff;
    display: inline-block;
    background: #68CF4E;
    border-radius: 50px;
    padding: 5px 15px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.parallax-layer17 img
{
    right: -278px;
    top: 90px;
}
.parallax-layer18 img
{
    display: none;
}
.parallax-layer19 img
{
    top: 40%;
    left: 0;
}
.parallax-layer20 img
{
    top: 45%;
    right: 100px;
}
.s-expert
{
    padding: 100px 0 75px;
    background: url("../img/expert_bg_m.jpg") no-repeat center/ cover;
}
.s-expert .container
{
    z-index: 5;
}
.exp-subtitle
{
    font-size: 22px;
    font-weight: 700;
}
.b-expert
{
    position: relative;
    font-size: 0;
}
.b-expert img
{
    margin: 0 -30px;
}
.expert-info
{
    position: absolute;
    color: #fff;
    background: #68CF4E;
    -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    bottom: 43px;
    left: 0;
    padding: 12px 25px;
    display: inline-block;
    font-size: 14px;
}
.s-expert .b-white:before
{
    content: "“";
    font-weight: bold;
    font-size: 250px;
    position: absolute;
    left: 5px;
    top: 7px;
    font-family: 'a_futuraround';
    line-height: 1;
    color: rgba(235, 235, 235, 0.77);
    z-index: 0;
}
.s-expert .b-white span
{
    position: relative;
    z-index: 5;
}
.parallax-layer21 img
{
    left: 50%;
    top: 230px;
    margin-left: 144px;
}
.parallax-layer22 img
{
    max-width: 122px !important;
    right: 50%;
    margin-right: 143px;
    top: 62px;
}
.parallax-layer23 img
{
    top: 71%;
    left: 50%;
    margin-left: 120px;
}
.parallax-layer24 img
{
    top: 55%;
    right: 50%;
    margin-right: 215px;
}
.s-reviews
{
    background: url("../img/rev_bg_m.jpg") no-repeat center/cover;
    padding: 135px 0 70px;
}
.s-reviews .b-title
{
    font-size: 40px;
}
.slider-title
{
    color: #323232;
    font-weight: 600;
    background: #F2F2F2;
    border-radius: 5px 5px 0 0;
    padding: 15px 20px;
    max-width: 300px;
    margin: 0 auto;
}
.slider-reviews
{
    z-index: 20;
}
.slider-reviews .slick-track{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}
.slider-reviews .slick-slide
{
    height: auto;
    -webkit-box-flex:0;
    -ms-flex:0 0 auto;
    flex:0 0 auto;
}
.slider-reviews .slick-slide>div {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.b-review
{
    background: #fff url("../img/rev.png");
    display: inline-block;
    max-width: 300px;
    border-radius: 5px;
    padding: 35px 20px;
    position: relative;
    height: 100%;
}
.slick-center .b-review
{
    border-radius: 0 0 5px 5px;
}
.rev-name
{
    font-weight: 700;
    margin-bottom: 25px;
    line-height: 1;
}
.rev-name img
{
    display: inline-block;
    vertical-align: middle;
}
.b-review p
{
    padding-left: 25px;
    position: relative;
}
.b-review p:before
{
    content: "“";
    font-weight: 800;
    font-size: 30px;
    color: #68CF4E;
    position: absolute;
    left: 0;
    top: 8px;
    line-height: 0.6;
}

.b-icons
{
    position: relative;
    z-index: 20;
}
.b-icons span
{
    display: inline-block;
    margin-right: 12px;
    position: relative;
}
.b-icons span:before
{
    content: "";
    background: rgba(255,255,255, 0.4) url("../img/search.svg") no-repeat center;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    cursor: pointer;
}
.b-icons span:hover:before
{
    opacity: 1;
}
.b-icons img
{
    border-radius: 5px;
    cursor: pointer;
}

.b-images
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    left: 0;
    top:0;
    display: none;
    z-index: 20;
    border-radius: 5px;
}
.b-images img
{
    position: absolute;
    left: 50%;
    top: 50%;
    display: none;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 15px;
}
.parallax-layer25 img
{
    right: 50%;
    top: -96px;
    margin-right: 198px;
    -webkit-transform: scale(1, -1) rotate(174deg);
    -ms-transform: scale(1, -1) rotate(174deg);
    transform: scale(1, -1) rotate(174deg);
}
.parallax-layer26 img
{
    max-width: 122px !important;
    left: 50%;
    margin-left: 243px;
    bottom: 184px;
    -webkit-transform: rotate(86deg);
    -ms-transform: rotate(86deg);
    transform: rotate(86deg);
}
.parallax-layer27 img
{
    top: 30%;
    left: 50%;
    margin-left: 208px;
    max-width: 64px !important;
}
.parallax-layer28 img
{
    top: 58%;
    right: 50%;
    margin-right: 135px;
}
.parallax-layer29 img
{
    bottom: 80px;
    right: 50%;
    margin-right: 312px;
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.s-bottom
{
    background: url("../img/bottom_bg_m.jpg") no-repeat center/cover;
    padding: 100px 0 110px;
}
.bottom-subtitle, .order-title
{
    font-size: 22px;
    font-weight: 800;
    line-height: 1.5;
    margin-bottom: 10px;
}
.people-img
{
    margin: -57px -350px 0px -179px;
    display: inline-block;
}
.product-bottom
{
    position: relative;
    margin: -204px 0 40px;
}
.box-bottom
{
    -webkit-filter: drop-shadow(-25px 15px 20px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(-25px 15px 20px rgba(0, 0, 0, 0.1));
    display: inline-block;
    margin: 0 -28px 0 37px;
    position: relative;
    z-index: 5;
}
.prod-bottom
{
    width: 100px;
    -webkit-filter: drop-shadow(-25px 15px 20px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(-25px 15px 20px rgba(0, 0, 0, 0.1));
    position: relative;
    z-index: 7;
}
.product-bottom .b-prices
{
    top: 5px
}
.b-order
{
    max-width: 260px;
    margin: 0 auto;
}
.b-order .btn
{
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.input-field
{
    background-color: transparent;
    width: 100%;
    display: block;
    color: #fff;
    font-size: inherit;
    font-family: inherit;
    border: 1px solid rgba(255,255,255,.5);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.input-field::-webkit-input-placeholder {color:#fff;}
.input-field::-moz-placeholder          {color:#fff;}
.input-field:-moz-placeholder           {color:#fff;}
.input-field:-ms-input-placeholder      {color:#fff;}
select {
    background-image: url(../img/select.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

select::-ms-expand {
    display: none;
}
.parallax-layer30 img
{
    top: 61%;
    right: 50%;
    margin-right: 200px;
    max-width: 209px !important;
}
.parallax-layer31 img
{
    top: 150px;
    right: 50%;
    margin-right: 200px;
    max-width: 130px !important;
}
.parallax-layer32 img
{
    top: 123px;
    left: 50%;
    margin-left: 139px;
    max-width: 41px !important;
}
.parallax-layer33 img
{
    top: 43%;
    left: 50%;
    margin-left: 208px;
}
.parallax-layer34 img
{
    bottom: 120px;
    left: 50%;
    margin-left: 180px;
}

@media (min-width: 991px) {
    .container {
        max-width: 1000px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .d-large
    {
        display: block;
    }
    .s-top
    {
        background: url("../img/body.png") no-repeat 55% top/contain, url("../img/top_bg.jpg") no-repeat center/cover;
        padding-bottom: 80px;
    }
    .s-top .container
    {
        z-index: 10;
    }
    .product-title
    {
        font-size: 170px;
        font-weight: 700;
        text-shadow: -4px 4px 4px rgba(112,239,80,0.9), -4px 4px 4px rgba(112, 239, 80,0.8), -4px 4px 4px rgba(112,239,80,0.7), 2px 4px 30px rgba(5,125,2,0.4);
        margin: 100px 0 0 125px;
    }
    .product-container
    {
        display: inline-block;
        float: right;
        margin: -185px 90px 0 0;
        width: 310px;
    }
    .b-sale
    {
        left: -52px;
        top: 74px;
    }
    .b-action
    {
        display: inline-block;
        max-width: 250px;
    }
    .b-actions>div:first-child
    {
        position: absolute;
        top: -80px;
        right: 300px;
    }
    .b-actions>div:nth-child(2)
    {
        position: absolute;
        top: -80px;
        right: 0;
    }
    .b-actions>div:last-child
    {
        margin-left: 30px;
    }

    .b-slogan
    {
        font-size: 30px;
        margin-left: 125px;
        margin-bottom: 35px;
    }
    .parallax-layer1 img
    {
        right: auto;
        bottom: -15px;
        margin-right: 0;
        left: -120px;
    }
    .parallax-layer2 img
    {
        top: -43px;
        margin-right: 441px;
    }
    .parallax-layer3 img
    {
        top: 161px;
        margin-right: 305px;
    }
    .parallax-layer4 img
    {
        top: auto;
        margin-right: 436px;
        margin-top: 0;
        bottom: 80px;
    }
    .parallax-layer5 img
    {
        display: block;
        left: 50%;
        top: 80px;
        margin-left: 555px;
    }
    .parallax-layer6 img
    {
        margin-left: 765px;
        margin-top: 360px;
    }
    .s-signs
    {
        padding: 75px 0 70px;
        background-image: url("../img/signs_bg.jpg");
    }

    .slider-signs
    {
        max-width: 725px;
        margin: 0 auto;
    }
    .b-sign
    {
        padding: 45px 30px 20px;
        -moz-text-align-last: justify;
        text-align-last: justify;
    }

    .slide-left, .slide-right
    {
        display: inline-block;
        width: 29%;
        vertical-align: top;
    }
    .slide-right
    {
        text-align: right;
        -moz-text-align-last: right;
        text-align-last: right;
    }
    .slide-img
    {
        position: absolute;
        left: 50%;
        bottom: 0;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .switch-1
    {
        top: 87px;
        margin-left: -10px;
    }
    .switch-2
    {
        top: 180px;
        margin-right: -2px;
    }
    .b-bubble[data-item="1"]
    {
        width: 250px;
        left: auto;
        top: 80px;
        right: 50%;
        margin-right: 15px;
    }
    .b-bubble[data-item="2"]
    {
        width: 265px;
        right: auto;
        left: 50%;
        margin-left: 10px;
    }
    .b-bubble[data-item="3"]
    {
        width: 260px;
        left: auto;
        top: 140px;
        right: 50%;
        margin-right: 5px;
    }
    .b-bubble[data-item="4"]
    {

        width: 260px;
        left: 50%;
        top: 250px;
        text-align: left !important;
        -moz-text-align-last: left !important;
        text-align-last: left !important;
        margin-left: 50px;
    }
    .b-bubble[data-item="5"]
    {
        width: 260px;
        left: 50%;
        top: 46px;
        margin-left: 40px;
        text-align: left !important;
        -moz-text-align-last: left !important;
        text-align-last: left !important;
    }
    .b-bubble[data-item="6"]
    {

        width: 250px;
        left: auto;
        top: 270px;
        margin-right: 20px;
        right: 50%;
    }
    .parallax-layer7 img
    {
        right: auto;
        margin-left: 435px;
        left: 50%;
    }
    .parallax-layer8 img
    {
        top: 96px;
        margin-right: 433px;
    }
    .parallax-layer9 img
    {
        top: auto;
        margin-left: 221px;
        bottom: 75px;
    }
    .parallax-layer10 img
    {
        right: auto;
        bottom: 255px;
        margin-right: 0;
        left: 60px;
    }
    .s-compare
    {
        padding: 80px 0 35px;
        background-image: url("../img/compare_bg.jpg");
    }
    .title-white
    {
        font-size: 100px;
    }
    .man-1
    {
        display: inline-block;
        vertical-align: bottom;
        margin-right: 15px;
    }
    .man-img {

        margin: 0 33px 0 0;
    }
    .man-1 .title-white {

        left: 8px;
        top: 45%;
    }
    .img-hand {
        left: 15px;
        top: 106px;
    }
    .product3 {
        right: 77px;
        top: 60px;
    }
    .product2
    {
        left: 50%;
        bottom: -47px;
    }
    .man-2
    {
        float: right;
        margin: -31px 12px 0 0;
        position: relative;
        z-index: 5;
    }
    .b-white
    {
        display: inline-block;
        width: 439px;
        vertical-align: bottom;
        padding: 30px 40px 40px;
        margin-bottom: 55px;
    }
    .parallax-layer11 img
    {
        right: -42px;
        bottom: 148px;
    }
    .parallax-layer12 img
    {
        top: -36px;
        margin-right: 346px;
    }
    .parallax-layer13 img
    {
        top: 60px;
        margin-left: 453px;
        -webkit-filter: blur(6px);
        filter: blur(6px);
        -webkit-transform: rotate(250.57deg);
        -ms-transform: rotate(250.57deg);
        transform: rotate(250.57deg);
    }
    .parallax-layer14 img
    {
        left: auto;
        top: auto;
        margin-right: 691px;
        right: 50%;
        bottom: 151px;
    }
    .parallax-layer15 img
    {
        top: auto;
        margin-right: 309px;
        bottom: 65px;
    }
    .parallax-layer16 img
    {
        top: 52%;
        margin-left: 384px;
    }
    .s-stages
    {
        background: url("../img/body_2.png") no-repeat 55% top/auto 100%, url(../img/stage_bg.jpg) no-repeat center/cover;
        padding: 120px 0 0;
    }
    .s-stages .b-subtitle, .s-stages .title-white
    {

        margin-left: 40px;
        text-align: left;
    }
    .stages .title-white
    {
        float: left;
    }

    .b-stages
    {
        margin-top: -135px;

    }
    .b-stages li
    {
        display: inline-block;
        max-width: 363px;
    }
    .b-stages li:nth-child(odd)
    {
        float: right;
    }
    .b-stages li:nth-child(even)
    {
        float: left;
        text-align: right;
        margin-top: 20%;
        -webkit-box-shadow: 0px 4px 20px rgb(0 0 0 / 10%), 10px 10px 0 0px rgb(255 255 255 / 40%);
        box-shadow: 0px 4px 20px rgb(0 0 0 / 10%), 10px 10px 0 0px rgb(255 255 255 / 40%);
        width: 310px;
    }
    .b-stages li:nth-child(even):before
    {
        left: auto;
        right: -35px;
    }
    .s-composition
    {
        background-image: url("../img/compose_bg.jpg");
        padding: 95px 0 65px;
    }
    .s-composition .b-title {
        margin-bottom: 10px;
    }
    .comp-subtitle {
        margin-bottom: 50px;
    }
    .prod-shield
    {
        margin-bottom: 50px;
    }
    .prod-shield:after
    {
        content: url("../img/ellipse.png");
        /*width: 415px;*/
        /*height: 415px;*/
        position: absolute;
        z-index: 0;
        /*border: 10px solid;*/
        /*border-image-source: linear-gradient(180deg, #B7E4FD 23.13%, #FFFFFF 100%);*/
        /*border-image-slice: 1;*/
        /*border-radius: 50%;*/
        left: 50%;
        top: 0;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .prod-box
    {
        width: auto;
    }
    .product4 {
        width: 107px;
        margin: 51px -54px 0 52px;
    }
    .b-composition img {
        margin: -93px -26px;
    }
    .b-composition:first-child
    {
        max-width: 380px;
        text-align: right;
        top: 386px;
        left: -10px;
        position: absolute;
    }
    .b-composition:first-child>div:first-child
    {
        float: right;
    }
    .b-composition:nth-child(2)
    {
        max-width: 390px;
        margin: 0 auto;
        text-align: center;
    }
    .b-composition:nth-child(2)>div
    {
        display: block;
        text-align: center;
    }
    .b-composition:nth-child(2) img
    {
        margin: 0 0 -16px;
    }
    .b-composition:last-child
    {
        max-width: 380px;
        top: 386px;
        right: 0;
        position: absolute;
    }
    .parallax-layer17 img
    {
        left: 50%;
        top: 135px;
        max-width: 232px !important;
        margin-left: 409px;
        right: auto;
    }
    .parallax-layer18 img
    {
        display: block;
        max-width: 150px !important;
        right: 50%;
        margin-right: 572px;
        top: 37px;
    }
    .parallax-layer19 img
    {
        top: 62%;
        left: auto;
        right: 50%;
        margin-right: 440px;
    }
    .parallax-layer20 img
    {
        top: auto;
        right: auto;
        left: 50%;
        margin-left: 320px;
        bottom: 183px;
    }
    .s-expert
    {
        padding: 50px 0 0;
        background-image: url("../img/expert_bg.jpg");
    }
    .s-expert .container
    {
        max-width: 850px;
    }
    .s-expert .title-white {
        font-size: 80px;
        line-height: 1;
        margin-bottom: 10px;
    }
    .s-expert .b-white
    {
        margin-bottom: 0;
    }
    .b-expert
    {
        position: absolute;
        right: 12px;
        z-index: 16;
        bottom: 0;
    }
    .expert-info
    {
        bottom: 75px;
        left: 5px;
    }
    .parallax-layer21 img
    {
        top: 45px;
        margin-left: 805px;
    }
    .parallax-layer22 img
    {
        margin-right: 473px;
        top: 55px;
    }
    .parallax-layer23 img
    {
        top: 73%;
        margin-left: 395px;
    }
    .parallax-layer24 img
    {
        margin-right: 650px;
    }
    .s-reviews
    {
        background-image: url("../img/rev_bg.jpg");
        padding: 90px 0 0;
    }
    .slider-reviews
    {
        max-width: 1100px;
        margin: -90px auto 0;
    }
    .b-review
    {
        margin: 90px 30px 0;
        opacity: 0.6;
        padding-bottom: 10px;
    }
    .slick-center .b-review
    {
        opacity: 1;
    }
    .slick-center .b-review:after
    {
        content: "";
        background: url("../img/phone.png") no-repeat;
        width: 375px;
        height: 493px;
        position: absolute;
        top: -103px;
        left: -28px;
        z-index: 0;
    }
    .s-reviews .sl-count
    {
        display: none;
    }
    .slider-title
    {
        padding-top: 40px;
        margin-top: 60px;
    }
    .slider-reviews .slick-prev, .slider-reviews .slick-next
    {
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 35px;
        height: 35px;
    }
    .slider-reviews .slick-prev
    {
        margin-right: 190px;
        z-index: 100;
    }
    .slider-reviews .slick-next
    {
        margin-left: 190px;
    }
    .slider-reviews .slick-prev:before, .slider-reviews .slick-next:before
    {
        font-size: 22px;
    }
    .parallax-layer25 img
    {
        top: -79px;
        margin-right: 339px;
    }
    .parallax-layer26 img
    {
        margin-left: 662px;
        bottom: auto;
        -webkit-transform: rotate(190deg) scale(1,-1);
        -ms-transform: rotate(190deg) scale(1,-1);
        transform: rotate(190deg) scale(1,-1);
        top: 31px;
    }

    .parallax-layer28 img
    {
        top: 84%;
        right: 25px;
        margin-right: 0;
    }
    .parallax-layer29 img
    {
        bottom: -20px;
        margin-right: 699px;
    }
    .s-bottom
    {
        background-image: url("../img/bottom_bg.jpg") ;
        padding: 140px 0;
    }
    .bottom-subtitle
    {
        font-size: 30px;
        text-align: right;
        position: relative;
        z-index: 5;
    }
    .s-bottom .product-title
    {
        text-align: center;
        margin: 0 0 0 60px;
        position: relative;
        z-index: 5;
    }
    .product-bottom
    {
        position: relative;
        margin: 20px 0 0 155px;
        display: inline-block;
        width: 316px;
        vertical-align: top;
    }
    .people-img
    {
        position: absolute;
        left: -170px;
        top: -140px;
        margin: 0;
        z-index: 0;
    }
    .b-order
    {
        display: inline-block;
        width: 300px;
        margin: 20px 0 0 50px;
        vertical-align: top;
        max-width: 100%;
    }
    .b-order .btn
    {
        margin-top: 10px;
    }
    .parallax-layer30 img
    {
        top: 82%;
        margin-right: 800px;
    }
    .parallax-layer31 img
    {
        top: 36px;
        margin-right: 441px;
    }

    .parallax-layer33 img
    {
        top: 15%;
        margin-left: 794px;
    }
    .parallax-layer34 img
    {
        bottom: 85px;
        margin-left: 480px;
    }
    [data-unshow]
    {
        opacity: 0;
        -webkit-transition: opacity .5s, -webkit-transform .5s;
        transition: opacity .5s, -webkit-transform .5s;
        -o-transition: transform .5s, opacity .5s;
        transition: transform .5s, opacity .5s;
        transition: transform .5s, opacity .5s, -webkit-transform .5s;
        will-change: transform, opacity;
    }
    [data-unshow="1"] {

        -webkit-transform: translate(0, 50px);
        -ms-transform: translate(0, 50px);
        transform: translate(0, 50px);

    }
    [data-unshow="2"] {

        -webkit-transform: translate(-500px, 0);
        -ms-transform: translate(-500px, 0);
        transform: translate(-500px, 0);

    }
    [data-unshow="3"] {

        -webkit-transform: translate(500px, 0);
        -ms-transform: translate(500px, 0);
        transform: translate(500px, 0);

    }

    [data-unshow].show {
        opacity: 1;
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        transform: translate(0);
    }
}